*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*  --index: calc(1vw+ 1vh)*/
  }

  @font-face {
      font-family: 'Raleway', sans-serif;
      font-weight: 900;
  }

  body {
      background-color: #010101;
    /*  color: #fff; */
    font-family: 'Raleway', sans-serif;
    line-height: 1.55;
}

.main-header{
 position: relative;
}

.main-header::after{
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc((1vw + 1vh) * 10);
    background-image: url(/img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc((1vw + 1vh) * -3.5);
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;

    transition: transform .75s cubic-bezier(0.075, 0.5, 0, 1);
}

.layers_base{
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    will-change: transform;
    z-index: 0;
}

.layers_middle{
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    will-change: transform;
}

.layers_front{
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    will-change: transform;
}

.layer_header{
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: #FFFFDF;
    text-shadow: 0 0 15px #010101;

    transition: transform .75s cubic-bezier(0.075, 0.5, 0, 1);
}

.layers_title{
    font-size: calc((1vw + 1vh) * 2.5);
    letter-spacing: calc((1vw + 1vh) / 2.25);
}

.layers_caption{
    font-size: calc((1vw + 1vh) / 1.175);
    letter-spacing: calc((1vw + 1vh) / 3.5);
    margin-top:  calc((1vw + 1vh) * -2);
}

.main-atricale{
    will-change: transform;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.main-atricale_header {
    text-transform: uppercase;
    font-size: calc((1vw + 1vh) * 1.8);
    letter-spacing: calc((1vw + 1vh) / 7.5);
    transform: translate3d(0,  calc(var(--scrollTop) / -7.5), 0);
    will-change: transform;

    transition: transform .75s cubic-bezier(0.075, 0.5, 0, 1);
}

.main-atricale_paragraph{
    max-width:calc((1vw + 1vh) * 30);
    font-size: calc((1vw + 1vh) * .9);
    margin-top:calc((1vw + 1vh) / 1.25);
    transform: translate3d(0,  calc(var(--scrollTop) / -7.5), 0);
    will-change: transform;

    transition: transform .75s cubic-bezier(0.075, 0.5, 0, 1);
}

.content{
    will-change: transform;
}

.copy{
    position: absolute;
    bottom: calc((1vw + 1vh) * 2);
    opacity: .45;
    font-size: calc((1vw + 1vh) * .75);
    letter-spacing: calc((1vw + 1vh) / 37.5);
}